.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #2f9599;
  border-radius: 5px;
  box-sizing: border-box;
  color: black;
  font-size: 1rem;
  gap: 20px;
}

.inputContainer {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

input {
  min-width: 150px;
  padding: 0.25rem;
}

.back {
  align-self: flex-start;
  background-color: grey;
}

button {
  padding: 1rem;
  border: none;
  background-color: #a7226e;
  border-radius: 5px;
  cursor: pointer;
  color: inherit;
}

button:hover,
button:active {
  background-color: #c57ba5;
  transition: background-color 0.4s;
}

.back:hover {
  background-color: #978c92;
  transition: background-color 0.4s;
}
