<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Layout</title>
  </head>
  <body>
    <div class="container">
      <nav class="nav">Nav</nav>
      <menu class="menu">
        <ul>
          <li>New</li>
          <li>Reply</li>
          <li>Forward</li>
          <li>Mark Unread</li>
          <li>Trash</li>
        </ul>
      </menu>
      <section class="email--template">
        <div class="template--container">Email Template 1</div>
        <div class="template--container">Email Template 2</div>
        <div class="template--container">Email Template 3</div>
        <div class="template--container">Email Template 4</div>
        <div class="template--container">Email Template 5</div>
        <div class="template--container">Email Template 6</div>
        <div class="template--container">Email Template 7</div>
        <div class="template--container">Email Template 8</div>
        <div class="template--container">Email Template 9</div>
        <div class="template--container">Email Template 10</div>
        <div class="template--container">Email Template 11</div>
        <div class="template--container">Email Template 12</div>
        <div class="template--container">Email Template 13</div>
        <div class="template--container">Email Template 14</div>
        <div class="template--container">Email Template 15</div>
      </section>
      <main class="email--preview">Email Preview</main>
      <aside class="additional">Additional Information</aside>
    </div>
  </body>
</html>
