.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputContainer input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px;
  background: transparent;
  background-color: purple;
  color: white;
  font-size: 1rem;
  border: none;
}

.buttonContainer {
  align-self: flex-start;
}
