<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <link
    href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="style.css" />

    <title>Hero Section</title>
  </head>
  <body>
    <header class="container">
      <nav class="nav-container">
          <div>NAVIGATION</div>
          <div>LOGIN</div>
      </nav>
      <div class="content">
        <h1>A healthy meal <br />delivered to your door, </br>every single day</h1>
        <p>
          The smart 365-days-per-year food subscription that will make you eat
          healthy algain. Tailored to your personal tastes and nutritional needs
        </p>
        <button>Start Eating Well</button>
      </div>
    </header>
    <section>
          <h2>Some random heading</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quas,
            minus beatae sapiente debitis voluptatum, laudantium veritatis impedit
            corrupti officia recusandae fugit, voluptates iure velit! Ad suscipit
            vitae nobis optio. Lorem ipsum dolor sit, amet consectetur adipisicing
            elit. Reiciendis sequi quam earum voluptas eum laboriosam at
            cupiditate debitis in odio adipisci repudiandae enim ea, sint quos
            similique! Debitis, facilis dolore?
          </p>
      </section>
  </body>
</html>
