

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 62.5%;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}


