.container {
  background-color: white;

  width: 100%;
  padding: 2rem;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  color: black;
  font-size: 1rem;
}

.inputContainer {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid grey;
  text-align: left;
  padding: 18px 0px 18px 18px;
}

ul {
  margin: 0;
  gap: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  list-style: none;
}
